name: ci

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    env:                       
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      JWT_EXPIRES_IN: ${{ secrets.JWT_EXPIRES_IN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node 22
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm install

      - name: Debug env (optional)
        run: |
          echo "JWT_SECRET is set: $JWT_SECRET"
          echo "JWT_EXPIRES_IN is set: $JWT_EXPIRES_IN"

      - name: Run tests with coverage
        run: npm run test:cov -- --reporter=text --reporter=text-summary

      - name: Add coverage to job summary
        run: |
          echo "## Coverage Summary" >> $GITHUB_STEP_SUMMARY
          npx c8 report --reporter=text-summary >> $GITHUB_STEP_SUMMARY
      
      - name: Install k6
        run: |
          sudo gpg -k
          sudo gpg --no-default-keyring --keyring /usr/share/keyrings/k6-archive-keyring.gpg --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys C5AD17C747E3415A3642D57D77C6C491D6AC1D69
          echo "deb [signed-by=/usr/share/keyrings/k6-archive-keyring.gpg] https://dl.k6.io/deb stable main" | sudo tee /etc/apt/sources.list.d/k6.list
          sudo apt-get update
          sudo apt-get install k6

      - name: Start server in background
        run: |
          npm start &
          sleep 10
          echo "Server started on port 3000"

      - name: Run k6 load and spike tests
        run: |
          k6 run performance/load-test.js
          k6 run performance/spike-test.js

  cd:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: ci
    steps:
      - name: Deploy to Render
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.RENDER_SERVICE_ID }}
          api-key:  ${{ secrets.RENDER_API_KEY }}
