name: ci

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    env:                       
      JWT_SECRET: supersecretkey123
      JWT_EXPIRES_IN: 30d
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node 22
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm install

      - name: Debug env (optional)
        run: |
          echo "JWT_SECRET is set: $JWT_SECRET"
          echo "JWT_EXPIRES_IN is set: $JWT_EXPIRES_IN"

      - name: Run tests
        run: npm test

  cd:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: ci
    steps:
      - name: Deploy to Render
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.RENDER_SERVICE_ID }}
          api-key:  ${{ secrets.RENDER_API_KEY }}
